In [10]:
#1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
variable = 10
print(variable)

10

In [2]:
#2) Imprimir el tipo de dato de la constante 8.5
type(8.5)

float

In [4]:
#3) Imprimir el tipo de dato de la variable creada en el punto 1
print(type(variable))

<class 'int'>

In [5]:
#4) Crear una variable que contenga tu nombre
nombre = "William"

In [8]:
#5) Crear una variable que contenga un número complejo
funcion = 2 + 3j

In [11]:
#6) Mostrar el tipo de dato de la variable crada en el punto 5
type(funcion)

complex

In [13]:
#7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
pi = 3.1416

In [12]:
#8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
str_true = "True"
bool_true = True

In [23]:
#9 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9
print(type(str_true),type(bool_true))

<class 'str'> <class 'bool'>

In [32]:
#10) Asignar a una variable, la suma de un número entero y otro decimal
suma = 5 + 2.5
suma

7.5

In [34]:
#11) Realizar una operación de suma de números complejos
a = 3 + 2j
b = 5 + 3j
c = a + b
c

(8+5j)

In [37]:
# 12) Realizar una operación de suma de un número real y otro complejo
d = a + 2.5
d

(5.5+2j)

In [38]:
# 13) Realizar una operación de multiplicación
m = 2 * 3
m

6

In [39]:
# 14) Mostrar el resultado de elevar 2 a la octava potencia
2**8

256

In [40]:
#15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
27/4

6.75

In [41]:
# 16) De la división anterior solamente mostrar la parte entera
27//4

6

In [42]:
# 17) De la división de 27 entre 4 mostrar solamente el resto
27%4

3

In [43]:
# 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
(4*6) + 3

27

In [45]:
# 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas
var1 = "Ciudad"
var2 = " de México"
var1 + var2

'Ciudad de México'

In [47]:
# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
"2" == 2

False

In [48]:
# 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
"2" == str(2)

True

In [50]:
# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
a = float("3,8")
#el float se hace con un punto en vez de coma

In [51]:
# 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido
a = 4
a -= 1
a

3

In [54]:
# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?
1 << 2

4

In [ ]:
# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
2 + "2"
#no pq uno es un int y el otro un str

In [58]:
# 26) Realizar una operación válida entre valores de tipo entero y string
2 + int("2")
var1 = "hola "
var2 = 3
print(var1*var2,"te estan saludando",str(var2),"veces")

hola hola hola  te estan saludando 3 veces